<% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>
<div class="container margin-top">
  <div class="row">
    <div class="col-md-3">
      <%= render 'component/user_info', user: @user %>
      <%= render 'component/new_book', book: @new_book %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <% @users.each do |user| %>
                <% if @book.user_id == user.id %>
                  <a href="/users/<%= user.id %>">
                    <%= attachment_image_tag user, :profile_image, fallback: "no_image.jpg", size: "40x40" %>
                    <br>
                    <%= user.name %>
                  </a>
                <% end %>
              <% end %>
            </td>
            <td>
              <%= link_to "#{@book.title}", book_path(@book) %>
            </td>
            <td>
              <%= @book.body %>
            </td>
            <% if @user.id == @book.user_id %>
              <td>
                <%= link_to "Edit", edit_book_path(@book), class: "btn btn-sm btn-success" %>
              </td>
              <td>
                <%= link_to "Destroy", book_path(@book), method: :delete, data: { confirm: "本当に消しますか？" }, class: "btn btn-sm btn-danger" %>
              </td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>